.accordion {
  width: 100%;
  &-container {
    max-width: 1280px;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;

    &__text {
      &--show {
        font-size: 28px;
        font-family: sans-serif;
        font-weight: 600;
        display: block;
      }
    }
  }
  &-content-first {
    margin-bottom: 12px;
  }
  &-button--first {
    background: rgb(252, 224, 173);
    padding: 10px 0;
    cursor: pointer;
  }
  &-button--second {
    background: rgb(173, 228, 252);
    padding: 10px 0;
    cursor: pointer;
  }
}

.popup-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;

  &-container {
    max-width: 480px;
    margin: auto;
    background: white;
    padding: 58px 12px 18px 12px;
    position: relative;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }

  &-close-btn {
    position: absolute;
    top: 8px;
    right: 12px;
    padding: 8px 12px;
    background-color: azure;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    font-size: 18px;
  }
}

@keyframes animatePopup {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  0% {
    opacity: 1;
    transform: translateY(0);
  }
}
